/*selector {
  property: value;
}*/
body {
  background-color: #9BE5D3;
  color: gray;
  font-family: 'Amatic SC', helvetica;
  font-size: 30px;
  text-align: center;
}



.title {
  font-size: 50px;
  color: teal;
}

.description {
  padding: 10px;
}

.pic img {

}

a{
  color: gray;
  text-decoration: none;
}

a:visited {
  color: gray;
  text-decoration: none;
}

a:hover {
    color: rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 50px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
}